* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



li {
  list-style: none;
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}


header {
  grid-area: header;
  border-bottom: 1px solid #E2E8F0;
}
/* Nav and hamburger menu */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

#index-h3 {
  height: 100px;
  text-align: center;
  font-size: 2.3rem;
  margin-top: 20px;
  font-weight: 300;
}
#index-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-btn  {
  text-align: center;
  color: #18A0FB;
  border-radius: 50px;
  width: 345px;
  padding: 15px 30px;
  border: 1px solid #19a0fb;
  margin: 10px auto;
}
#index-h4 {
  font-size: 1.3rem;
}
.getstarted-btn {
  text-align: center;
  grid-area: gstartedbtn;
color: white;
border-radius: 50px;
  width: 100%;
padding: 15px 30px;
margin: 10px auto;
background-color: #18A0FB;
}
.explore-btn:hover{
  color: #18A0FB;
  text-decoration: underline;
}
.getstarted-btn:hover{
  text-decoration: underline;
}

#index-Img {
  width: 100%;
}

.img-ctn img{
  width: 100%
}

.home-classes {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  
}
.class-ctn {
  display: grid;
  margin: 20px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  grid-template-areas: 
  "img info"
  "gstartedbtn gstartedbtn";
}
.img-ctn {
  grid-area: img;
}

.class-info {
  grid-area: info;
  display: grid;
  margin-left: 8px;
  grid-template-rows: 20% 2fr 1fr;
  
}
.cls-type {  
  font-size: 1.5rem;
  color: rgb(102, 102, 102);
  padding-bottom: 0;
  margin-bottom: 0;
  
}
.cls-name {
  font-size: 2.2rem;
margin-top: 0;
  align-self:start;
}
.cls-name:hover {
  color: lightgray;
}

.class-st {
  font-size: 1.5rem;
align-self: end;
 
}

/* For phones and smallest devices */
@media only screen and(max-width: 480px) {
  
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}
main {
  margin: auto 15px;
}
header {
  grid-area: header;
  border-bottom: 1px solid #E2E8F0;
}
/* Nav and hamburger menu */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #838d9b;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: black;
}

#index-h3 {
  height: auto;
  text-align: center;
  font-size: 2rem;
  margin: 20px auto;
  font-weight: 300;
  padding: 0 5px;
}
#index-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-btn  {
  text-align: center;
  color: #18A0FB;
  border-radius: 50px;
  width: 90%;
  padding: 15px 30px;
  border: 1px solid #19a0fb;
  margin: 10px auto;
  font-size: 1.5rem;
}
#index-h4 {
  font-size: 1.3rem;
}
.getstarted-btn {
  font-size: 1.5rem;
  text-align: center;
color: white;
border-radius: 50px;
 width: 90%;
padding: 15px 30px;
margin: 10px auto;
background-color: #18A0FB;
}
.explore-btn:hover{
  color: #18A0FB;
  text-decoration: underline;
}
.getstarted-btn:hover{
  text-decoration: underline;
}

#index-Img {
  width: 100%;
}

.img-ctn img{
  width: 100%
}

.home-classes {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  
}
.class-ctn {
  display: grid;
  margin: 20px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  grid-template-areas: 
  "img info"
  "";
}
.img-ctn {
  grid-area: img;
}

.class-info {
  grid-area: info;
  display: grid;
  margin-left: 8px;
  grid-template-rows: 20% 2fr 1fr;
  
}
.cls-type {  
  font-size: 1.2rem;
  color: rgb(102, 102, 102);
  padding-bottom: 0;
  margin-bottom: 0;
  
}
.cls-name {
  font-size: 1.5rem;
margin-top: 0;
  align-self:start;
  color: black;
}
.cls-name:hover {
  color: lightgray;
}

.class-st {
  font-size: 1.5rem;
align-self: end;

}
/* show page  */
.show-ctn {
  margin: 5px 10px;
}

.ctn1 {
  padding: 15px 10px 40px 10px;
}
.stdio-name {
  font-weight: 500;
  font-size: 1.8rem;
}
.info-ctn {
  padding: 15px 0;
}
.ctn-name {
  font-weight: 600;
  font-size: 1.6rem;
  padding: 20px 0 15px 0;
  border-bottom: 1px solid lightgray;
}

.class-grid-ctn{
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  margin: 10px auto;
  justify-items: center;
  align-items: center;
  padding: 10px;
 display: grid;
 grid-template-columns: 1fr 3fr 1fr;
 grid-template-rows: auto;
 grid-template-areas: 
 "left-item middle-item right-item";
   
}
 .left-item p {
   font-size: 1.2rem;
font-weight: 350;
  }

  .middle-item {
font-size: 1.4rem;
font-weight: 600;
justify-self: start;
  }

  .teacher-name {
    font-weight: normal;
  }
  .right-item {
    font-size: 1.4rem;
  }
.right-item a:visited {
  
  color: #18A0FB;
  text-decoration: none;
 
}
.right-item a:hover {
  color: white;
  text-decoration: underline;
}

.review-show {
  margin: 15px 0 15px 0;
}
.review-title {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px  auto 5px 0;
}
.review-body {
  font-size: 1.1rem;
  padding-bottom: 15px;
border-bottom: 1px solid lightgray; 
  margin: 15px auto 25px auto;
}
.search-ctn form {
  margin: 0;
  padding: 0;
}
.search-ctn {
   margin: 20px auto;
 width: 100%;
 text-align: center;
}


.search-ctn h2 {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 600;
}
#search {
  font-size: 1.3rem;
  width: 100%;
  border-radius: 5px;
  padding: 20px 0;
  border: 1px solid rgb(194, 194, 194);
  background-color: rgb(247, 247, 247);
  text-align: left;
  padding-left: 15px;
  margin-top: 10px;

}
#subHidden {
  display: none;
}

/* Studio index page */

.stdio-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 15px;
  grid-template-areas: "img info";
  margin: 15px auto;
}
.stdio-img {
  grid-area: img;
}
.stdio-img img {
  width: 100%;
}

.stdio-index-info {
  grid-area: info;
}

.stdio-index-type {
  color: rgb(173, 173, 173);
  font-size: 1.2rem;
}
.stdio-index-name  a{
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.stdioLoc {
  padding-top: 75%;
  font-size: 1.3rem;
}

/* Studio show page */
#show-stdio-crDate {
  text-align: center;
  padding: 20px 0;
}
.stdio-show-img img {
  width: 100%;
}
#show-stdio-title {
  margin: 10px 0 30px 0 
}
#show-stdio-name {
  font-size: 1.4rem;
  font-weight: 600;
}

#show-stdio-info {
  margin: 10px 0 30px 0;
}
#show-stdio-info p{
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}
#show-cls-title {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}
#show-class-ctn {
  margin: 10px 0;
  border-radius: 5px;
  padding: 20px 0;
  background-color: rgb(212, 212, 212);
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-row: auto;
  grid-template-areas: " left middle right";
}
#stdio-class-left {
  grid-area: left;
align-self: center;

}
#show-class-time, #show-class-price, #show-class-length {
  font-size: 1.4rem;
  padding-left: 20px;
}

#stdio-class-middle {
  grid-area: middle;
  align-self: start;
  

}

#show-class-nm {
  font-size: 1.4rem;
  font-weight: 600;
}
#stdio-class-right {
  grid-area: right;
  place-self: center;
}


















/* Media query */
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}
.showStudio img{
  width: 100%;
}
.info-ctn {
  display: flex;
}

/* Show page  */




/* Book modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 