<!DOCTYPE html>
<html lang="en">

<head>
  <%- include(`../partials/head.ejs`) %>
</head>

<body id="full-w">
  <header>
    <%- include('../partials/nav.ejs') %>

  </header>
  <main id="bgimg-main">
    <form id="register" action='/users' method='POST'>
      <h2>Sign Up</h2>
      <h4>Already have an account? <a href="/sessions/new">
          <span class="blue-word"></span>Sign In
        </a> </h4>
      <input type="email" name="email" id="email" placeholder="email" /><br>
      <input type="password" name="password" id="password" placeholder="password" /><br>
      <input id="submitbtn" type="submit" value="Register">
    </form>
  </main>
  <footer>
  </footer>

</body>

</html>