<!DOCTYPE html>
<html>

<head>
  <%- include(`../partials/head.ejs`) %>
</head>

<body>
  <header>
    <%- include(`../partials/nav.ejs`) %>
  </header>
  <main>
    <h2>You're one step away from booking your spot</h2>
    <p>Make sure this is the class you want</p>
    <div id="bking-info">
      <ul>
        <!-- Address -->
        <li>

        </li>
        <!-- Time -->
        <li></li>
        <!-- Price -->
        <li></li>
        <!-- Phone -->
        <li></li>
        <!-- Website -->
        <li></li>
      </ul>
    </div>
  </main>

</body>

</html>